@import 'fonts.css';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300');
body{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    /*font-family:  Helveticaneuelight, sans-serif;*/
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.main-header .list-product{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.main-header{
    width: 80%;
    margin: 25px auto;    
    height: auto;
    position: relative;
}

.logo img {
    float: left;
    margin-right: 10px;
}
/* .logo h1 {
    display: inline-block;
    margin: 0;
    height: 37px;
    color: #666;
} */
.menu-header{
    float: right;
}
.menu-list {
    display: inline-block;
    text-align: left;
    padding: 12px 0 25px 0;
}
.menu-list li {    
    display: inline-block;
    margin: 0 15px;
}
.menu-list li h3{
    margin: 0;
}
#pull {
    display: none;
}
.contact{ 
    margin-right: 0px;
}
.contact a {
    display: inline-block;
    background-color: #3498db;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px 15px;
    color: #fff;
}
.contact a:hover{
    color: #3498db;
    padding: 4px 14px;
    background-color: #fff;
    border: 1px solid #3498db;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.menu-list a{    
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Segoe UI Light", sans-serif;
}
.menu-item a{
    color: black;
}
.menu-item a:hover{
    border-bottom:  2px solid #3498db;
}
.main-header h1 {
    clear: both;
}
/* slider */
.banner {
    clear: both;
    width: 100%;
    /* height: 28.111273792vw; */
    position: relative;
}
.banner img {
    width: 100%;
    height: 100%;
}
/* content */
.main-content{
    width: 80%;
    margin: 0 auto;
}
/* content - list product */

.text-center{
    text-align: center;
}
.list-product{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 200px 200px;
}
.product{
    background: #1b6698;
}


@media only screen and (max-width : 992px){
    .main-header{
        width: 95%;
    }
    .menu-list {
        width: 100%;
        text-align: center;
    }
    .menu-list li {
        margin-right: 3%;
    }
 
}



@media only screen and (max-width : 768px){
    .logo{
        padding-bottom: 30px;
    }
    .main-header {
        width: 95%;
    }
    .menu-list{
        display: none;
        height: auto;
    }
    .menu-list li{
        width: 100%;        
        margin: 0;
        padding: 0;
        text-align: center;
        background: #3498db;
        border-bottom: 1px solid #fff;
    }
    .menu-item a:hover{
        background: #1b6698;
        border-bottom: none;
    }
    .contact a:hover{
        color: #fff;
        padding: 5px 0;
        background: #1b6698;
        border: none;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    .menu-list li a{
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 5px 0;
        color: #fff;
    }
    .contact {
        border-bottom: none;
        margin-bottom: 25px!important;
    }
    .contact a{
        border-radius: none;
        -moz-border-radius: none;
        -webkit-border-radius: none;
        padding: 0;
    }
    .menu-header{
        width: 100%;
    }
    .menu-header #pull {
        display: block;
        width: 100%;
    }
    .menu-header #pull:after {
        content:"";
        background: url('http://i.imgur.com/1A9bzQr.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 10px;
    }
    .banner h2{
        font-size: 17px;
    }
    .list-product{
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-rows: 200px 200px;
    }
    .product{
        background: #1b6698;
    }
   
    
}
@media only screen and (max-width : 481px){
    .wrap-skill-type span{
        font-size: 13px;
    }
    .logo h1{
        padding-top: 3px;
        font-size: 28px;
    }

}